In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# load as Pandas dataframe
json_df = pd.read_json('data/world_bank_projects.json')
json_df.shape

(500, 50)

In [3]:
json_df.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [4]:
json_df.head().transpose()

,0,1,2,3,4
sector,"[{'Name': 'Primary education'}, {'Name': 'Seco...",[{'Name': 'Public administration- Other social...,[{'Name': 'Rural and Inter-Urban Roads and Hig...,[{'Name': 'Other social services'}],[{'Name': 'General industry and trade sector'}...
supplementprojectflg,N,N,Y,N,N
projectfinancialtype,IDA,OTHER,IDA,OTHER,IDA
prodline,PE,RE,PE,RE,PE
mjtheme,[Human development],"[Economic management, Social protection and ri...","[Trade and integration, Public sector governan...","[Social dev/gender/inclusion, Social dev/gende...","[Trade and integration, Financial and private ..."
idacommamt,130000000,0,6060000,0,13100000
impagency,MINISTRY OF EDUCATION,MINISTRY OF FINANCE,MINISTRY OF TRANSPORT AND COMMUNICATIONS,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,MINISTRY OF TRADE AND INDUSTRY
project_name,Ethiopia General Education Quality Improvement...,TN: DTF Social Protection Reforms Support,Tuvalu Aviation Investment Project - Additiona...,Gov't and Civil Society Organization Partnership,Second Private Sector Competitiveness and Econ...
mjthemecode,"8,11","1,6","5,2,11,6","7,7","5,4"
closingdate,2018-07-07T00:00:00Z,NaN,NaN,NaN,2019-04-30T00:00:00Z
totalcommamt,130000000,4700000,6060000,1500000,13100000
id,P129828,P144674,P145310,P144665,P144933
mjsector_namecode,"[{'code': 'EX', 'name': 'Education'}, {'code':...","[{'code': 'BX', 'name': 'Public Administration...","[{'code': 'TX', 'name': 'Transportation'}]","[{'code': 'JX', 'name': 'Health and other soci...","[{'code': 'YX', 'name': 'Industry and trade'},..."
docty,"Project Information Document,Indigenous People...","Project Information Document,Integrated Safegu...","Resettlement Plan,Environmental Assessment,Int...","Procurement Plan,Project Information Document,...","Project Information Document,Integrated Safegu..."
sector1,"{'Percent': 46, 'Name': 'Primary education'}","{'Percent': 70, 'Name': 'Public administration...","{'Percent': 100, 'Name': 'Rural and Inter-Urba...","{'Percent': 100, 'Name': 'Other social services'}","{'Percent': 50, 'Name': 'General industry and ..."
lendinginstr,Investment Project Financing,Specific Investment Loan,Investment Project Financing,Technical Assistance Loan,Investment Project Financing
countrycode,ET,TN,TV,RY,LS
sector2,"{'Percent': 26, 'Name': 'Secondary education'}","{'Percent': 30, 'Name': 'General public admini...",NaN,NaN,"{'Percent': 40, 'Name': 'Other industry'}"
totalamt,130000000,0,6060000,0,13100000
mjtheme_namecode,"[{'code': '8', 'name': 'Human development'}, {...","[{'code': '1', 'name': 'Economic management'},...","[{'code': '5', 'name': 'Trade and integration'...","[{'code': '7', 'name': 'Social dev/gender/incl...","[{'code': '5', 'name': 'Trade and integration'..."
boardapprovaldate,2013-11-12T00:00:00Z,2013-11-04T00:00:00Z,2013-11-01T00:00:00Z,2013-10-31T00:00:00Z,2013-10-31T00:00:00Z
countryshortname,Ethiopia,Tunisia,Tuvalu,"Yemen, Republic of",Lesotho
sector4,"{'Percent': 12, 'Name': 'Tertiary education'}",NaN,NaN,NaN,NaN
prodlinetext,IBRD/IDA,Recipient Executed Activities,IBRD/IDA,Recipient Executed Activities,IBRD/IDA
productlinetype,L,L,L,L,L
regionname,Africa,Middle East and North Africa,East Asia and Pacific,Middle East and North Africa,Africa
status,Active,Active,Active,Active,Active
country_namecode,Federal Democratic Republic of Ethiopia!$!ET,Republic of Tunisia!$!TN,Tuvalu!$!TV,Republic of Yemen!$!RY,Kingdom of Lesotho!$!LS
envassesmentcategorycode,C,C,B,C,B
project_abstract,{'cdata': 'The development objective of the Se...,NaN,NaN,NaN,{'cdata': 'The development objective of the Se...
approvalfy,1999,2015,2014,2014,2014
projectdocs,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...","[{'DocDate': '29-MAR-2013', 'EntityID': '00033...","[{'DocDate': '21-OCT-2013', 'EntityID': '00033...","[{'DocDate': '15-MAY-2013', 'EntityID': '00035...","[{'DocDate': '06-SEP-2013', 'EntityID': '09022..."
lendprojectcost,550000000,5700000,6060000,1500000,15000000
lendinginstrtype,IN,IN,IN,IN,IN
theme1,"{'Percent': 100, 'Name': 'Education for all'}","{'Percent': 30, 'Name': 'Other economic manage...","{'Percent': 46, 'Name': 'Regional integration'}","{'Percent': 50, 'Name': 'Participation and civ...","{'Percent': 30, 'Name': 'Export development an..."
grantamt,0,4700000,0,1500000,0
themecode,65,"54,24","52,81,25,47","59,57","41,45"
borrower,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,GOVERNMENT OF TUNISIA,MINISTRY OF FINANCE AND ECONOMIC DEVEL,MIN. OF PLANNING AND INT'L COOPERATION,MINISTRY OF FINANCE
sectorcode,"ET,BS,ES,EP","BZ,BS",TI,JB,"FH,YW,YZ"
sector3,"{'Percent': 16, 'Name': 'Public administration...",NaN,NaN,NaN,"{'Percent': 10, 'Name': 'SME Finance'}"
majorsector_percent,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...","[{'Percent': 70, 'Name': 'Public Administratio...","[{'Percent': 100, 'Name': 'Transportation'}]","[{'Percent': 100, 'Name': 'Health and other so...","[{'Percent': 50, 'Name': 'Industry and trade'}..."
board_approval_month,November,November,November,October,October
theme_namecode,"[{'code': '65', 'name': 'Education for all'}]","[{'code': '24', 'name': 'Other economic manage...","[{'code': '47', 'name': 'Regional integration'...","[{'code': '57', 'name': 'Participation and civ...","[{'code': '45', 'name': 'Export development an..."
countryname,Federal Democratic Republic of Ethiopia,Republic of Tunisia,Tuvalu,Republic of Yemen,Kingdom of Lesotho
url,http://www.worldbank.org/projects/P129828/ethi...,http://www.worldbank.org/projects/P144674?lang=en,http://www.worldbank.org/projects/P145310?lang=en,http://www.worldbank.org/projects/P144665?lang=en,http://www.worldbank.org/projects/P144933/seco...
source,IBRD,IBRD,IBRD,IBRD,IBRD
projectstatusdisplay,Active,Active,Active,Active,Active
ibrdcommamt,0,0,0,0,0
sector_namecode,"[{'code': 'EP', 'name': 'Primary education'}, ...","[{'code': 'BS', 'name': 'Public administration...","[{'code': 'TI', 'name': 'Rural and Inter-Urban...","[{'code': 'JB', 'name': 'Other social services'}]","[{'code': 'YZ', 'name': 'General industry and ..."
_id,{'$oid': '52b213b38594d8a2be17c780'},{'$oid': '52b213b38594d8a2be17c781'},{'$oid': '52b213b38594d8a2be17c782'},{'$oid': '52b213b38594d8a2be17c783'},{'$oid': '52b213b38594d8a2be17c784'}

## Question 1 -  To Find the 10 countries with most projects

In [5]:
top10countries = pd.DataFrame(json_df['countryshortname'].value_counts().head(10).rename_axis('Country').reset_index(name='projects_counts'))
top10countries

              Country  projects_counts
0               China               19
1           Indonesia               19
2             Vietnam               17
3               India               16
4  Yemen, Republic of               13
5               Nepal               12
6          Bangladesh               12
7             Morocco               12
8              Africa               11
9          Mozambique               11

## Question 2 - Find the top 10 major project themes (using column 'mjtheme_namecode')

In [6]:
#sample data - It is a nested array - We need to normalize

json_df['mjtheme_namecode'][0]

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]

In [7]:
#opening json as a string instead of dataframe
json_string = json.load(open('data/world_bank_projects.json'))

In [8]:
#normalizing the nested array
allThemes = json_normalize(json_string, 'mjtheme_namecode')
allThemes.head()

/Users/deepak/.virtualenvs/GeneralPyKernal/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [9]:
#top 10 major project themes
top10themes = pd.DataFrame(allThemes['name'].value_counts().head(10).rename_axis('Name').reset_index(name='theme_counts'))
top10themes

                                           Name  theme_counts
0  Environment and natural resources management           223
1                             Rural development           202
2                             Human development           197
3                      Public sector governance           184
4         Social protection and risk management           158
5      Financial and private sector development           130
6                                                         122
7                   Social dev/gender/inclusion           119
8                         Trade and integration            72
9                             Urban development            47

## Question 3 - Create a dataframe with the missing names filled in

In [10]:
#Finding out unique values

allThemes.drop_duplicates().sort_values(['name'])

    code                                          name
17     8
212    1
201    5
121   10
29     4
24     2
19     7
333    9
13     6
493    3
1     11
2      1                           Economic management
6     11  Environment and natural resources management
11     4      Financial and private sector development
0      8                             Human development
5      2                      Public sector governance
252    3                                   Rule of law
18    10                             Rural development
8      7                   Social dev/gender/inclusion
3      6         Social protection and risk management
4      5                         Trade and integration
53     9                             Urban development

In [11]:
#dropping the values which has space as "name"

unique = allThemes.drop_duplicates()
unique_values = unique[unique['name'] != '']
unique_values

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [12]:
#resetting index inorder to merge these unique values with the main json string, "allThemes"

unique_values.reset_index().drop('index',axis=1)

   code                                          name
0     8                             Human development
1     1                           Economic management
2     6         Social protection and risk management
3     5                         Trade and integration
4     2                      Public sector governance
5    11  Environment and natural resources management
6     7                   Social dev/gender/inclusion
7     4      Financial and private sector development
8    10                             Rural development
9     9                             Urban development
10    3                                   Rule of law

In [13]:
#allThemes & unique_values  - merge

allThemes_clean = pd.merge(allThemes, unique_values, on='code', suffixes=('_x','')).drop('name_x' , axis=1)
allThemes_clean

     code               name
0       8  Human development
1       8  Human development
2       8  Human development
3       8  Human development
4       8  Human development
...   ...                ...
1494    3        Rule of law
1495    3        Rule of law
1496    3        Rule of law
1497    3        Rule of law
1498    3        Rule of law

[1499 rows x 2 columns]

In [14]:
top10themes_clean = pd.DataFrame(allThemes_clean['name'].value_counts().head(10).rename_axis('Name').reset_index(name='theme_counts'))
top10themes_clean

                                           Name  theme_counts
0  Environment and natural resources management           250
1                             Rural development           216
2                             Human development           210
3                      Public sector governance           199
4         Social protection and risk management           168
5      Financial and private sector development           146
6                   Social dev/gender/inclusion           130
7                         Trade and integration            77
8                             Urban development            50
9                           Economic management            38